/*  your css code here. If applicable */
.main-container{
	padding: 20px;
	background-color: #f5f5f5;
	margin: 0;
}
.testimonial{
	background-color: white;
	border: 1px solid darkgray;
	padding: 5px;
	margin: 5px;
}
h1{
	margin: 0;
}
.author{
	text-align: right;
	font-style: italic;
	margin: 0;
}